body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

input[type="text"] {
    grid-column: span 4;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #979393; 
}

button.operator {
    background-color: #ffa500;
    color: #fff;
}

button.operator:hover {
    background-color: #ff8c00;
}
